@charset "UTF-8";

@font-face {
  font-family: 'ChosunCentennial';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'seolleimcool-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/seolleimcool-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SejonghospitalBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 20px 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --app-container: white;
  --main-color: #1f1c2e;
  --secondary-color: #4A4A4A;
  --link-color: #1f1c2e;
  --link-color-hover: #c3cff4;
  --link-color-active: #fff;
  --link-color-active-bg: #1f1c2e;
  --projects-section: #fff;
  --message-box-hover: #fafcff;
  --message-box-border: #e9ebf0;
  --more-list-bg: #fff;
  --more-list-bg-hover: #f6fbff;
  --more-list-shadow: rgba(255, 255, 255, 0.4);
  --button-bg: #1f1c24;
  --search-area-bg: #fff;
  --star: #1ff1c2e;
  --message-btn: #fff;
}

/* html {
  width: 100%;
  height: 100vh;
  margin: 0;
} */

body {
  font-family: 'SejonghospitalBold';
  overflow: scroll;
  background-color: var(--app-container);
}




/*section 내용*/

section {
  float: left;
  margin-top: 50px;
  margin-left: 130px;
}

.info {
  background-color: black;
  width: 100%;
  height: 200px;
  justify-content: space-between;
  flex: 2;
  border-radius: 32px 32px 0px 0px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  font-family: 'GmarketSansMedium';
}



/* 회원관리 목록 관련 css */

.admininfo {
  margin-top: 30px;
  position: relative;
  top: -60px;
}

.userlist-table {
  width: 900px;
  max-width: 1200px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  border-spacing: 10px 10px;
  border-collapse: collapse;
}

.userlist-table thead {
  position: sticky;
  top: 0px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}


.userlist-table th {
  text-align: center;
  padding: 25px;
}

.userlist-table tbody tr {
  height: 30px;
  border-bottom: 1px solid rgb(171, 171, 171);
}

.userlist-table button {
  border-radius: 6px;
  color: #ffffff;
  background-color: black;
  cursor: pointer;
}

.form-control {
  font-family: 'SejonghospitalBold';
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding-left: 20px;
  color: rgb(137, 137, 137);
  border: 1px solid black;
  border-radius: 10px;
  margin-right: 10px;
}

.list-title {
  margin: 13px 0px;
  /* display: flex; */
  justify-content: space-between;
  /* color: #9c0410; */
}

.list-title2 {
  vertical-align: middle;
  display: inline-flex;
  /* margin: auto 0px; */
}

.table-title {
  text-align: center;
  background-color: #ffffff;
}

.search_bar {
  display: flex;
  margin: 0px 20px;
  margin-left: 450px;
}

.search-btn {
  color: #fff;
  background-color: black;
  border-radius: 5px;
  border: none;
  width: 50px;
  height: 40px;
}


/*드롭박스*/

.dropdown {
  display: inline-block;
}

.dropdown:hover {
  display: block;

}

.pl {
  font-family: 'SejonghospitalBold';
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.pl:focus {
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 10px;
  border-radius: 10px;
}

/*페이지*/

.page {
  margin-top: 30px;
  margin-left: 450px;
}

.page-item {
  color: black;
}

/* 박스 */

  .write{
    width: 800px;
    font-family: 'SejonghospitalBold';
  }
  
  .write textarea{
    font-family: 'SejonghospitalBold';
  }

  .qnatext1{
    width:100%;
    border-color:black;
    border-radius: 15px;
    padding: 10px;
    border:1;
    overflow:visible;
    text-overflow:ellipsis;
  }

  .qnatext2{
    width:100%;
    border-color:black;
    border-radius: 15px;
    padding: 10px;
    border:1;
    overflow:visible;
    text-overflow:ellipsis;
  }

  .qnatext3{
    width:100%;
    border-color:black;
    border-radius: 15px;
    padding: 10px;
    border:1;
    overflow:visible;
    text-overflow:ellipsis;
  }

 hr {
    border: 1.5px solid black;
}

/* 목록버튼 */
.btnarea{
  text-align: center;
}

.btnarea button{
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 20px;
  font-size: large;
}