@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body{
    font-family: 'Gowun Dodum', sans-serif;
}

.signup-container {
    width: 500px;
    height: 500px;
    margin: 6% auto;
    border: solid 2px rgb(124, 124, 124);
    border-radius: 60px;
}

.title{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}

.s {
    margin-left: 90px;
    font-size: 17px;
}

#user_name {
    width: 200px;
    height: 35px;
    font-size: 13px;
    margin-left: 76px;
    margin-bottom: 30px;
    border: solid 1.5px  rgb(209, 209, 209);
    padding-left: 10px;
    border-radius: 8px;
}

#user_id {
    width: 200px;
    height: 35px;
    font-size: 13px;
    margin-left: 60px;
    margin-bottom: 30px;
    border: solid 1.5px  rgb(209, 209, 209);
    padding-left: 10px;
    border-radius: 8px;
}
#user_email {
    width: 200px;
    height: 35px;
    font-size: 13px;
    margin-left: 60px;
    margin-bottom: 30px;
    border: solid 1.5px  rgb(209, 209, 209);
    padding-left: 10px;
    border-radius: 8px;
}

#user_phone {
    width: 200px;
    height: 35px;
    font-size: 13px;
    margin-left: 44px;
    margin-bottom: 20px;
    border: solid 1.5px  rgb(209, 209, 209);
    padding-left: 10px;
    border-radius: 8px;
}

#pwfind{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    background-color:  rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 210px;
}