@charset "UTF-8";

@font-face {
    font-family: 'DAEAM_LEE_TAE_JOON';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/DAEAM_LEE_TAE_JOON.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --app-container: #f7f8fa;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
}

/*정보*/
section {
    float: left;
    margin-top: 50px;
    margin-left: 230px;
}

.myinfo {
    font-family: 'SejonghospitalBold';
    width: 600px;
    position: relative;
    font-weight: 700;
}

.form {
    margin-bottom: 20px;
    display: flex;
}

.form .te {
    width: 160px;
    vertical-align: middle;
    padding: 10px 0;
    margin-right: 30px;
    font-size: 20px;
}

.form .in {
    width: 90%;
    position: relative;
}

.form input {
    font-family: 'SejonghospitalBold';
    display: flex;
    align-items: center;
    width: 50%;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    color: rgb(137, 137, 137);
    border: 2px solid black;
    ;
    border-radius: 10px;
}

/* 눈 아이콘 */
.fa-eye {
    position: absolute;
    right: 51%;
    top: 12px;
    cursor: pointer;
}

/*수정 버튼*/
.btn {
    font-family: 'SejonghospitalBold';
    display: flex;
    margin-left: 120px;
    margin-top: 60px;
}

.modifybtn {
    font-family: 'SejonghospitalBold';
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 3px solid black;
    border-radius: 15px;
    font-size: large;
    margin-right: 20px;
}

.cancelbtn {
    font-family: 'SejonghospitalBold';
    width: 80px;
    height: 40px;
    background-color: #fff;
    border: 3px solid gray;
    border-radius: 15px;
    font-size: large;
}